[class^="task"] {
    display: inline-block;
    min-width: 300px;
    box-sizing: border-box;
    padding: 1.25em 0 calc(1.25em - 1px);
    border-bottom: 1px solid black;
}

[class^="task"] > button,
[class^="task"] > input[type="text"] {
    line-height: inherit;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

[class^="task"] > span {
    display: inline-block;
    color: red;
    font-style: italic;
}